.objects {

    .castlewalltop {
        background-image: url("../images/walls/castlewalltop.png");
    }
    .castlewallleft {
        background-image: url("../images/walls/castlewallleft.png");
    }
    .castlewallbottom {
        background-image: url("../images/walls/castlewallbottom.png");
    }
    .castlewallright {
        background-image: url("../images/walls/castlewallright.png");
    }
    .castlewalltopleft {
        background-image: url("../images/walls/castlewalltopleft.png");
    }
    .castlewalltopright {
        background-image: url("../images/walls/castlewalltopright.png");
    }
    .castlewallbottomleft {
        background-image: url("../images/walls/castlewallbottomleft.png");
    }
    .castlewallbottomright {
        background-image: url("../images/walls/castlewallbottomright.png");
    }
    
    .castlewallfar {
        background-image: url("../images/walls/castlewallfar.png");
    }
    
    
    .housewalltop {
        background-image: url("../images/walls/housewalltop.png");
    }
    .housewallleft {
        background-image: url("../images/walls/housewallleft.png");
    }
    .housewallbottom {
        background-image: url("../images/walls/housewallbottom.png");
    }
    .housewallright {
        background-image: url("../images/walls/housewallright.png");
    }
    .housewalltopleft {
        background-image: url("../images/walls/housewalltopleft.png");
    }
    .housewalltopright {
        background-image: url("../images/walls/housewalltopright.png");
    }
    .housewallbottomleft {
        background-image: url("../images/walls/housewallbottomleft.png");
    }
    .housewallbottomright {
        background-image: url("../images/walls/housewallbottomright.png");
    }
    
    .houseentrancedown {
        background-image: url("../images/walls/houseentrancedown.png");
    }
    .houseentrancedownleft {
        background-image: url("../images/walls/housewallentranceleft.png");
    }
    .houseentrancedownright {
        background-image: url("../images/walls/housewallentranceright.png");
    }
    
    .fence {
        background-image: url("../images/walls/fence.png");
    }
    .fence-inside {
        background-image: url("../images/walls/fence-inside.png");
    }


}